{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<script>
$(':radio').change(function() {
  console.log('New star rating: ' + this.value);
});
</script>
<style>
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}ta
</style>
<br />
<h1 align="center">{{ teacher.first_name }} {{ teacher.last_name }}</h1>
<h5 align="center">Course: {{ teacher.course }}</h2>
<br />
<h5>Reviews for this teacher:</h4>
{% for review in reviews %}
  <li class="list-group-item">
    {{ review.review }}
  </li>
{% endfor %}
<br />
<form method="POST">
  <div class="form-group">
    <label>Add a review</label>
    <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
    <input class="form-control" id="review" name="review" placeholder="Remember to be kind and leave constructive criticisms"/>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}